body{
    font-family: 'Bangers', cursive;
    font-size:1.5rem;
    text-align: center;
    color: black;
    overflow: hidden;
    word-spacing: 10px;
    letter-spacing: 3px;
}

#num_container{
    margin:150px auto;
    width: fit-content;
    padding: 30px 50px;
    background-color: #bdf26d;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 5px 5px rgba(138, 176, 81, 0.2),
    inset 0 10px 15px rgba(138, 176, 81, 0.3),
    inset 0 -10px 15px rgba(188, 214, 150,0.3);
}


